<%= render Risen.SharedView, "admin_app_menu.html", conn: @conn %>

<div class="container container--mobile adminEmployersIndex adminSite">

  <%= render Risen.SharedView, "topbar.html" %>

  <h1 class="pageTitle">Employers</h1>
  <ul class="employerList">
    <%= for employer <- @employers do %>
    <li class="employer card">
      <%= render Risen.SharedView, "employer_summary.html", employer: employer, employer_students: employer.students %>
    </li>
    <% end %>
  </ul>
</div>
