.employerRegistrationForm {
  .logo {
    display: block;
    margin: 0 auto 37px;
  }
  .tagLine {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 54px;
  }
  h2 {
    margin-bottom: 28px;
  }
  .input-default {
    margin-bottom: 15px;
  }
  .btn {
    margin: 30px auto 0;
  }
}
