.employer-registration-form {
  &.container {
    display: flex;
    flex-direction: column;
    width: 375px;
    padding: 0 45px;
    text-align: center;
  }
  .logo {
    margin: 0 auto 37px;
    width: 126px;
    height: 73px;
  }
  .tag-line {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 54px;
  }
  h2 {
    margin-bottom: 28px;
  }
  .input-default {
    margin-bottom: 15px;
  }
  .btn {
    margin: 30px auto 0;
    width: 160px;
  }
}