.studentDone {
  .section {
    background-color: $white;
    padding: 60px;
    .container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
<<<<<<< HEAD
  .container {
    padding-top: 60px;
  }
=======
>>>>>>> master
  .pic {
    margin: 0 auto 35px;
  }
  .content {
    font-size: 18px;
    line-height: 24px;
<<<<<<< HEAD
    margin: 0 auto 65px;
=======
    margin: 15px auto 65px;
>>>>>>> master
    h2, p {
      margin-bottom: 25px;
    }
  }
  .content:last-of-type {
    margin-bottom: 0;
  }
}