.studentRegistration {
  .section {
    background-color: $white;
    padding: 60px;
    .container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .schoolBanner {
    &-logo {
      margin-bottom: 10px;
    }
    &-title {
      margin-bottom: 8px;
    }
  }
  .content {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 46px;
    p {
      margin-bottom: 15px;
    }
  }
  &-form {
    h2 {
      margin-bottom: 28px;
    }
    input {
      margin-bottom: 13px;
    }
    input[type=submit] {
      margin: 45px auto;
    }
  }
}