.schoolBanner {
  &-logo {
    width: 96px;
    height: 96px;
    background-color: $black-10;
    margin-bottom: 10px;
  }
  &-title {
    font-family: 'freight-display-pro', serif;
    font-weight: 500;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  &-text {
    font-style: italic;
    font-size: 14px;
    color: $warm_grey;
  }
}