.studentSummary {
  &-pic {
    width: 128px;
    height: 128px;
  }
  &-pic--sm {
    width: 88px;
    height: 88px;
  }
  &-pic--xs {
    width: 48px;
    height: 48px;
  }
  &-info-name {
    font-weight: 600;
    font-size: 18px;
  }
  &-info-meta {
    font-size: 0;
  }
  &-info-meta-school,
  &-info-meta-major {
    display: block;
    font-size: 16px;
    @include respond-to(medium) {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &-info-meta-major {
    margin-top: 10px;
    &:before {
      padding: 0 5px;
    }
    @include respond-to(medium) {
      margin-top: 0;
      &:before {
        content: '\00b7';
      }
    }
  }
}
