@import 'config';
@import 'utils';

// Pages
@import 'landing/home/index';
@import 'employer/register/register';
@import 'employer/register/setup';
@import 'employer/students/index';
@import 'employer/students/show';

// Components
@import 'student_list_item';
@import 'signin_form';
@import 'batch_list_item';
@import 'employer_app_menu';
@import 'topbar';
@import 'student_summary';


// Block overrides
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $greyish-brown;
  font-family: "proxima-nova", sans-serif;
}
h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
hr {
  border-color: $black-10;
}


// App-wide style
.container {
  margin: 0 auto;
  width: 756px;
  padding: 0 45px;
}
.container--mobile {
  display: flex;
  flex-direction: column;
  width: 375px;
  padding: 45px;
  text-align: center;
  position: relative;
}
.drawer {
  width: 265px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -265px;
  z-index: 1000;
  padding: 35px;
  background-color: $black-10s;
  display: flex;
  flex-direction: column;
  transition: right 333ms ease;
  &.is-in {
    right: 0;
  }
  .navMenu {
    text-align: right;
    a {
      li {
        display: block;
        padding: 15px 0;
        border-top: 1px solid $black-10;
      }
      &:first-of-type li {
        padding-top: 0;
        border-top: none;
      }
    }
  }
}
.navMenu {
  list-style-type: none;
  li {
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    &:hover {
      color: $faded-orange;
    }
  }
}
.logo {
  width: 175px;
  height: 100px;
  flex: 0 0 auto;
  background-image: url("/images/MainLogo.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo--streamlined {
  width: 102px;
  height: 38px;
  background-image: url('/images/StreamlinedLogo.svg');
}
.logo-sm {
  width: 126px;
  height: 73px;
}
.btn {
  width: 210px;
  height: 50px;
  border-radius: 40px;
  background-color: $faded-orange;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid $faded-orange;
  transition: background-color 333ms ease,
              color 333ms ease;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $faded-orange;
    background-color: $faded-orange-50;
    border-color: $faded-orange-50;
    text-decoration: none;
  }
  &.is-hidden {
    display: none;
  }
}
.btn--o {
  background-color : transparent;
  color: $faded-orange;
}
.btn--short {
  width: 160px;
}
.btn--xshort {
  width: 114px;
}
.input-default {
  width: 100%;
  border: none;
  border-bottom: 2px solid $black-10;
  padding: 7px 11px;
  font-size: 18px;
  font-weight: 300;
  &:focus {
    outline: none;
    border-bottom-color: $faded-orange;
  }
}
.x-mark {
  width: 11px;
  height: 11px;
  position: relative;
  cursor: pointer;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #000;
    left: 50%;
  }
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}
.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.menuIcon {
  flex: 0 0 27px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  &-stripe {
    flex: 0 0 4px;  // Suppose to be 4.6px OR just use an SVG
    background-color: $faded-orange-50;
    transition: background-color 250ms ease;
  }
  &:hover &-stripe {
    background-color: $faded-orange;
  }
}
.card {
  padding: 15px;
  border: 1px solid $black-10;
  border-radius: 3px;
}
.picChooser {
  background-color: $black-5;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &-file {
    display: none;
  }
  &-pic {
    width:108px;
    height: 108px;
    border: 2px solid $black-10;
    background-color: $white;
  }
  &-btn {
    height: 42px;
    margin: 0 0 0 15px;
    border-color: transparent;
    background-color: $black-10;
    font-size: 16px;
    color: $greyish-brown;
    &:hover {
      background-color: rgba(0,0,0,0.2);
      border-color: transparent;
      color: initial;
    }
  }
}
.select {
  position: relative;
  &-input {
    cursor: pointer;
    margin-bottom: 15px;
  }
  &-datalist {
    display: block;
    position: absolute;
    top: calc(100% - 15px);  // compensate for margin-bottom in .input-default
    width: 100%;
    min-height: 40px;  // The height of 1 option
    max-height: 250px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    z-index: 1000;
    &.is-hidden {
      display: none;
    }
    &.is-onTop {
      top: initial;
      bottom: 100%;
    }
    &-empty {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 10px 15px;
      background-color: $black-10s;
    }
    &-option {
      position: relative;
      padding: 10px 15px;
      background-color: $black-10s;
      border-bottom: 2px solid $black-5;
      cursor: pointer;
      z-index: 1;
      &:last-of-type {
        border-bottom: none;
      }
      &:hover {
        color: $faded-orange;
      }
      &.is-hidden {
        display: none;
      }
    }
  }
}

// Need to refactor below this line

.middot::before {
    content: "\b7";
    display: inline;
}
// .neutral {
//     background-color: #449D44;
// }
// .warning {
//     background-color: #EC971F;
// }
.status-badge.neutral {
    color: white;
}
// .full-width {
//   width: 100%;
// }
// .container-mid {
//   display: flex;
//   justify-content: center;
//   text-align: center;
// }
// .card {
//   box-sizing: border-box;
//   display: block;
//   width: 100%;
//   padding: 1rem;
//   background-color: #FAFAFA;
//   border: 1px solid #F4F4F4;
//   box-shadow: 0px 1px 3px 1px #DDD;
//   margin: 0.5rem;
// }
// .card-content {
//   margin: 1rem;
// }
// .card-md {
//   width: 640px;
// }
// .card-sm {
//   width: 480px;
// }
.sign-up {
  text-align: center;
  margin: 20px;
}
.school-pic {
  width: 128px;
  height: 128px;
}
.student-pic {
  width: 256px;
  height: 256px;
}
.student-pic-sm {
  width: 100px;
  height: 100px;
}
.round-pic {
  background-color: #AAA;
  border-radius: 50%;
  overflow: hidden;
}
.icn-btn {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #AAA;
  background-color: #DDD;
  bottom: 7px;
  right: 7px;
}
.action-btn-primary {
  background-color: #003366;
  color: #FEFEFE;
  border: none;
  padding: 1rem 1.5rem;
  margin-top: 0.5rem;
}
.action-btn-primary:hover {
  background-color: #3366AA;
}
