$greyish-brown: #555;
$faded-orange: #F17D5F;
$white: #FFF;
$black-10: rgba(0,0,0,0.1);
$black-5: rgba(0,0,0,0.05);
$faded-orange-50: rgba(241,124,95,0.5);

@import 'landing/home/index';
@import 'employer/register/register';
@import 'employer/register/setup';
@import 'student_list_item';
@import 'signin_form';
@import 'batch_list_item';
@import 'employer_app_menu';


* {
  box-sizing: border-box;
  margin: 0;
  font-family: "proxima-nova", sans-serif;
}
body {
  overflow: hidden;
}
h1, h2, h3, h4, h5, p, span {
  color: $greyish-brown;
}
h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}
h3 {
  font-weight: 600;
  font-size: 16px;
}
.logo {
  background-image: url("/images/MainLogo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 175px;
  height: 100px;
}
.logo-sm {
  width: 126px;
  height: 73px;
}
.tag-line {
  font-weight: 300;
}
.btn {
  width: 210px;
  height: 50px;
  border-radius: 40px;
  background-color: $faded-orange;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid $faded-orange;
  transition: background-color 333ms ease,
              color 333ms ease;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $white;
    background-color: $faded-orange-50;
    border-color: $faded-orange-50;
    text-decoration: none;
  }
}
.btn-o {
  background-color : transparent;
  color: $faded-orange;
}
.input-default {
  width: 100%;
  border: none;
  border-bottom: 2px solid $black-10;
  padding: 7px 11px;
  font-size: 18px;
  font-weight: 300;
  &:focus {
    outline: none;
    border-bottom-color: $faded-orange;
  }
}

// Need to refactor below this line

.middot::before {
    content: "\b7";
    display: inline;
}
.neutral {
    background-color: #449D44;
}
.warning {
    background-color: #EC971F;
}
.status-badge.neutral {
    color: white;
}
.full-width {
  width: 100%;
}
.container-mid {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cover {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #FAFAFA;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 1px 3px 1px #DDD;
  margin: 0.5rem;
}
.card-content {
  margin: 1rem;
}
.card-md {
  width: 640px;
}
.card-sm {
  width: 480px;
}
.sign-up {
  text-align: center;
  margin: 20px;
}
.school-pic {
  width: 128px;
  height: 128px;
}
.student-pic {
  width: 256px;
  height: 256px;
}
.student-pic-sm {
  width: 100px;
  height: 100px;
}
.round-pic {
  background-color: #AAA;
  border-radius: 50%;
  overflow: hidden;
}
.icn-btn {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #AAA;
  background-color: #DDD;
  bottom: 7px;
  right: 7px;
}
.action-btn-primary {
  background-color: #003366;
  color: #FEFEFE;
  border: none;
  padding: 1rem 1.5rem;
  margin-top: 0.5rem;
}
.action-btn-primary:hover {
  background-color: #3366AA;
}
