$greyish-brown: #555;
$warm-grey: #999;
$faded-orange: #F17D5F;
$faded-orange-50: rgba(241,124,95,0.5);
$faded-orange-25: rgba(241,124,95,0.25);
$white: #FFF;
$white-two: #F5F5F5;
$black-30: rgba(0,0,0,0.3);
$black-20: rgba(0,0,0,0.2);
$black-10: rgba(0,0,0,0.1);
$black-10s : #F2F2F2;
$black-5: rgba(0,0,0,0.05);
$very-light-pink: #FFF7EF;
$warn: mix(white, #900, 50%);

$break-small: 375px;
$break-medium: 760px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-medium + 1) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-large + 1) { @content; }
  }
}
