.top-bar {
  width: 100%;
  position: fixed;
  display: flex;
  align-content: space-between;
  align-items: center;
  height: 52px;
  background-color: #003366;
  color: #FEFEFE;
  z-index: 1000;
  h2 {
    flex: 0 0 auto;
    margin: 0 1rem;
  }
  .middle-space {
    flex: 1;
  }
  .right-menu {
    flex: 0 0 auto;
    height: 100%;
  }
  .menu {
    margin: 0 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    display: flex;
    direction: row;
    li {
      margin: 0;
      padding: 0 1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    li:hover {
      background-color: #3366AA;
    }
  }
}
.top-bar + .container {
  padding-top: 52px;
}
.risen-logo {
  cursor: pointer;
}