.u-{
  &cover {
    width: 100%;
    padding: 25px 0;
  }
  &noDecor {
    text-decoration: none;
  }
  &clickable {
    cursor: pointer;
  }
  &hidden {
    display: none;
  }
  &centerText {
    text-align: center;
  }
  &rightText {
    text-align: right;
  }
  &leftText {
    text-align: left;
  }
  &italic {
    font-style: italic;
  }
  &floatLeft {
    float: left;
  }
  &floatRight {
    float: right;
  }
  &normalWeight {
    font-weight: 300;
  }
  &round {
    border-radius: 50%;
  }
  &trim {
    > *:first-child {
      margin-top: 0 !important;
    }
    > *:last-child {
      margin-bottom: 0 !important;
    }
  }
}
