.adminEmployersIndex {
  .pageTitle {
    text-align: left;
    margin-bottom: 35px;
  }
  .employer {
    text-align: left;
    margin-bottom: 15px;
  }
  .employerSummary-info-name {
    margin-bottom: 10px;
  }
}