.employerSetupForm {
  .logo {
    margin: 0 auto 37px;
  }
  .tagLine {
    font-size: 18px;
    margin-bottom: 54px;
  }
  form {
    position: relative;
  }
  h2 {
    margin-bottom: 28px;
  }
  h3 {
    text-align: left;
    margin-bottom: 15px;
  }
  .picChooser {
    margin-bottom: 35px;
  }
  .btn {
    margin: 0 auto;
  }
}
