<div class="sign-in-form container">
  <div class="logo"></div>
  <h2>Sign-in to your Risen account.</h2>
  <form action="">
    <input name="email" class="input-default" type="email" placeholder="Email">
    <input name="password" class="input-default" type="password" placeholder="Password">
    <input name="submit" class="btn" type="submit" value="Sign In">
  </form>
</div>
