<div class="studentSummary">
  <img class="studentSummary-pic round-pic" src="<%= Risen.StudentPic.url({@student.pic, @student}) %>" />
  <div class="studentSummary-info">
    <p class="studentSummary-info-name"><%= @student.name %></p>
    <div class="studentSummary-info-meta">
      <span class="studentSummary-info-meta-school"><%= @student.school.name %></span>
      <span class="studentSummary-info-meta-major"><%= @student.major.name %></span>
    </div>
  </div>
</div>
