<a class="link link--no-decor" href="/e/students/:id/">
  <div class="studentCard">
    <div class="studentCard-pic round-pic"></div>
    <div class="studentCard-info">
      <p class="studentCard-info-name"><%= @name %></p>
      <p class="studentCard-info-school"><%= @school %></p>
      <p class="studentCard-info-major"><%= @major %></p>
    </div>
  </div>
</a>