<div class="studentSummary">
  <img class="studentSummary-pic round-pic" src="<%= Risen.StudentPic.url({@student.pic, @student}) %>" />
  <div class="studentSummary-info">
    <p class="studentSummary-info-name"><%= @student.name %></p>
    <p class="studentSummary-info-school"><%= @student.school.name %></p>
    <p class="studentSummary-info-major"><%= @student.major.name %></p>
  </div>
</div>
