.employerStudentsIndex {
  .pageTitle {
    text-align: left;
  }
  .batch {
    margin-top: 35px;
    &-title {
      margin-bottom: 10px;
      font-weight: 300;
      @include respond-to(medium) {
        text-align: left;
      }
    }
  }
  .card {
    margin-top: 15px;
    cursor: pointer;
    .studentSummary {
      display: flex;
      align-items: center;
      &-pic {
        flex: 0 0 48px;
        height: 48px;
      }
      &-info {
        flex: 1 1 calc(100% - 48px);
        text-align: left;
        margin-left: 15px;
      }
      &-info-major {
        margin-top: 10px;
      }
    }
  }
}
