.adminSchoolsNew {
  .pageTitle {
    text-align: left;
    margin-bottom: 35px;
  }
  form {
    text-align: left;
    h3 {
      margin-bottom: 8px;
    }
    input {
      margin-bottom: 36px;
    }
  }
  .form-tray {
    font-size: 0;
    text-align: center;
    margin: 45px auto;
    > * {
      display: block;
      margin: 0 auto;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      @include respond-to(medium) {
        display: inline-block;
        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: 15px;
        }
      }
    }
  }
  button[type="submit"] {
  }
}
